*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display:flex;
    flex-direction: column;
    width:100vw;
    background-color: rgb(233, 233, 235);
    height :100vh;
}
.box{
    flex:1;
    border: 2px solid rgb(0, 0, 0);
    margin:10;
    background-color: rgb(214, 236, 255);
    border-radius: 20px;

    align-content: center;
    text-align: center;
}

.circle{ 
    height:180px;
    width:180px;
    background-color:rgb(250, 121, 0);
    border-radius: 50%;
    padding: 10px;
    margin: auto;
}
.circle2 {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translateX(300px) translateY(-130px);
}

.circle3 {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translateX(360px) translateY(-180px);
 
}
.circle4 {
  height: 50px;
  width: 50px;
  background-color: rgb(250, 121, 0);
  border-radius: 50%;
  transform: translateX(310px) translateY(-190px);
 border: 2px solid rgb(0, 0, 0);
}
.circle5 {
  height: 50px;
  width: 50px;
  background-color: rgb(250, 121, 0);
  border-radius: 50%;
  transform: translateX(360px) translateY(-240px);
 border: 2px solid rgb(0, 0, 0);
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 25px solid #ffffff;
    transform: translateX(379px) translateY(-240px);
}
.triangle-down2 {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 25px solid #ffffff;
    transform: translateX(330px) translateY(-265px);
}
.circle6 {
  height: 25px;
  width: 25px;
  background-color: #0c0000;
  border-radius: 50%;
  transform: translateX(320px) translateY(-367px);
 
}
.circle7 {
  height: 25px;
  width: 25px;
  background-color: #0c0000;
  border-radius: 50%;
  transform: translateX(380px) translateY(-393px);
}
